<div class="col-md-6 col-md-offset-3 adding-form-box">
    <div class="col-md-12 box-heading-container">
      <p>Passport Detail</p>
    </div>
    <div class="col-md-12 box-value-container">
    <div class="col-md-12 form-group">
      <label for="password-available">
       Passport Available
      </label>
      <input type="text" disabled="disabled" name="passport-available" class="form-control" id="passport-available" placeholder="Yes" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="passport-number">
         Passport Number
        </label>
        <input type="text" disabled="disabled" name="passport-number" class="form-control" id="passport-number" placeholder="12333" />
    
      </div>
      <div class="col-md-12 form-group">
          <label for="passport-issue-date">
           Passport Issue Date
          </label>
          <input type="date" disabled="disabled" name="passport-issue-date" class="form-control" id="passport-issue-date">
      
        </div>
        <div class="col-md-12 form-group">
            <label for="passport-validity-date">
             Passport Validity Date
            </label>
            <input type="date" disabled="disabled" name="passport-validity-date" class="form-control" id="passport-validity-date">
        
          </div>
        <div class="col-md-12 form-group">
            <label for="country">
            Country
            </label>
            <input type="text" name="country" class="form-control" disabled="disabled" placeholder="India" />
        
          </div>
          </div>
  </div>
  